<div class="footer">
    <div class="app__content-banner">
        <div class="content__banner-img">
            <img src="~/Content/images/content_banner.jpg" alt="">
        </div>
        <div class="content__banner-img">
            <img src="~/Content/images/content_banner_2.jpg" alt="">
        </div>
    </div>
    <div class="footer__image">
        <img src="~/Content/images/logo_footer.gif" alt="">
    </div>
    <div class="footer__content">
        <ul class="footer_link">
            <li>
                <a href="http://www.lottecinemavn.com/LCHS/Contents/Etc/member-clause.aspx"
                   title="Chính Sách Khách Hàng Thường Xuyên">Chính Sách Khách Hàng </a>
            </li>
            <li>
                <a href="http://www.lottecinemavn.com/LCHS/Contents/Etc/individual-infomation-handling-policy.aspx"
                   title="Chính Sách Bảo Mật Thông Tin">Chính Sách Bảo Mật</a>
            </li>
            <li>
                <a href="http://www.lottecinemavn.com/LCHS/Contents/etc/terms-of-use.aspx"
                   title="Điều Khoản Sử Dụng">Điều Khoản Sử Dụng</a>
            </li>
            <li>
                <a href="http://www.lottecinemavn.com/LCHS/Contents/Etc/sitemap.aspx" title="Sơ Đồ Website">
                    Sơ
                    Đồ
                    Website
                </a>
            </li>
            <li>
                <a href="http://www.lottecinemavn.com/LCCS/Contents/employ/individuals.aspx"
                   title="Tuyển Dụng">Tuyển Dụng</a>
            </li>
            <li>
                <a href="http://www.lottecinemavn.com/LCCS/Contents/ad/advertinquiry.aspx"
                   title="Liên Hệ Quảng Cáo/ Mua Voucher">Liên Hệ Quảng Cáo/ Mua Voucher</a>
            </li>

        </ul>
    </div>
    <div class="company_info">

        <p>CÔNG TY TNHH LOTTE CINEMA VIỆT NAM</p>
        <p>
            Giấy CNĐKDN: 0302575928, đăng ký lần đầu ngày 02/05/2008, đăng ký thay đổi lần thứ 10 ngày
            30/03/2018, cấp bởi Sở KHĐT Thành phố Hồ Chí Minh
        </p>
        <p>
            Địa chỉ: Tầng 3, TTTM Lotte, số 469 đường Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, TPHCM, Việt
            Nam
        </p>
        <p>Hotline: (028) 3775 2524</p>
    </div>
    <p class="copy">COPYRIGHT © LOTTECINEMAVN.COM - ALL RIGHTS RESERVED.</p>

</div>
