@model IEnumerable<BaiTapLon_Web.Models.Entities.Phim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong></strong>
                    </div>
                    <div class="col-md-6 text-right">
                        @*@Html.ActionLink("Create New", "Create", "Phim")*@
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
