
@{
    ViewBag.TiRPe = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Danh sách Nhân Viên</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Create","NhanViens")" class="btn btn-sm btn-success ">

                            <img src="~/Public/images/Icon/plus.png" />  Thêm
                        </a>
                        @*<button class="btn-success btnAdd"  id="btnAdd">

                                <img src="~/Public/images/Icon/plus.png" />
                            </button>*@
                        @*<a href="~/Admin/NhanViens/Add" class="btn btn-sm btn-danger btn-Add">
                                <img src="~/Public/images/Icon/plus.png" />  Thêm

                            </a>*@

                    </div>
                </div>

            </div>
            <div class="card-body text-center">


                <table class="table table-bordered table-striped" id="myTable">
                    <thead>

                        <tr>
                            <th>
                                Ảnh
                            </th>
                            <th>
                                Mã Nhân Viên
                            </th>
                            <th>
                                Tên Nhân Viên
                            </th>

                            <th>
                                Điện thoại
                            </th>
                            <th>
                                CCCD
                            </th>
                            <th>
                                Chức vụ
                            </th>

                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblNhanVien">
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!--<div class="modal" tabindex="-1" role="dialog" id="modalNhanVien">
    <div class="modal-footer" role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4 class="panel-tiRPe py-3 text-danger text-uppercase text-center" id="modaltitleNV" style="background-color:bisque; font-family:'Book Antiqua';"></h4>
                </div>
                <div class="container ">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="margin-right:50px;">Mã Nhân Viên<span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control text-center " style="width:300px; margin-left:100px;" id="manv" placeholder="Mã Nhân Viên  " />
                                <span id="manv_err" class="text-danger"></span>

                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Tên Nhân Viên<span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control text-center" style="width:300px; margin-left:100px;" id="tennv" placeholder="Tên Nhân Viên" />
                                <span id="tennv_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Rạp phim<span class="text-danger">(*)</span></label>

                                @Html.DropDownList("MaRap", (IEnumerable<SelectListItem>)ViewBag.MaRap, htmlAttributes: new { @class = "form-control" })-->
@*<select id="MaRap" class="form-control">
        <option>Chọn Phòng</option>
    </select>*@
@* <input type="text" class="form-control text-center" style="width:300px; margin-left:100px;" id="marap" placeholder="Rạp phim" />*@
<!--<span id="marap_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Ảnh<span class="text-danger">(*)</span></label>
                                <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*" />

                                <span id="anh_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Số điện thoại<span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control text-center" style="width:300px; margin-left:100px;" id="sdt" placeholder="Số điện thoại" />
                                <span id="sdt_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Ngày Sinh</label>
                                <input type="text" name="NgaySinh" style="width:300px; margin-left:100px;" id="ngaysinh" class="form-control" />
                                <input type="date" name="bday" min="1980-01-01" style="width:300px; margin-left:100px;" id="ngaysinh" class="form-control" />
                                <span id="ngaysinh_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">


                                <label style="margin-right:50px;">Email<span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control text-center" style="width:300px; margin-left:100px;" id="email" placeholder="Email" />
                                <span id="email_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Giới tính</label><br />
                                <input type="radio" id="Nam" name="Sex" value="Nam" style="margin-right:20px;">
                                <label for="Nam" style="margin-right:50px;">Nam</label>
                                <input type="radio" id="Nu" name="Sex" value="Nu" style="margin-right:10px;">
                                <label for="Nu" style="margin-right:100px;">Nữ</label>
                                <span id="gioitinh_err" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">

                                <label style="margin-right:50px;">CCCD<span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control text-center" style="width:300px; margin-left:100px;" id="cccd" placeholder="CCCD" />
                                <span id="cccd_err" class="text-danger"></span>
                            </div>

                            <div class="form-group">

                                <label style="margin-right:50px;">Chức vụ<span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control text-center" style="width:300px; margin-left:100px;" id="chucvu" placeholder="Chức vụ" />
                                <span id="chucvu_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Ngày vào làm<span class="text-danger">(*)</span></label>
                                <input type="date" name="bday" max="2022-04-20" style="width:300px; margin-left:100px;" id="ngayvaolam" class="form-control" />
                                <span id="ngayvaolam_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Password<span class="text-danger">(*)</span></label>
                                <input type="password" class="form-control text-center" style="width:300px; margin-left:100px;" id="mk" placeholder="Mật khẩu" />
                                <span id="mk_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Hệ số lương<span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control text-center" style="width:300px; margin-left:100px;" id="hsl" />
                                <span id="hsl_err" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label style="margin-right:50px;">Địa chỉ</label>
                                <textarea class="form-control text-center" style="width:300px;height:150px; margin-left:100px;" id="diachi" placeholder="Địa chỉ"></textarea>
                                 <input type="text" class="form-control text-center" style="width:300px; margin-left:100px;" id="diachi" placeholder="Địa chỉ" />
                                <span id="diachi_err" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSubmitAdd" style="margin-right:120px;">Xác nhận</button>
                <button type="button" class="btn btn-success" id="btnSubmitEdit" style="margin-right:120px;">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right:500px;">Đóng</button>
            </div>
        </div>
    </div>
</div>-->
<div class="modal" tabindex="-1" role="dialog" id="modalChiTietNV">
    <div class="modal-footer" role="document">
        <div class="modal-content ">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:aqua;">
                    <h4 class="panel-title py-3 text-danger text-uppercase text-center" style="background-color:cornsilk;">Chi tiết Nhân Viên</h4>
                </div>
                <div class="container py-3">
                    <class id="img"></class>
                    <table class="table table-bordered text-center my-5">
                        <thead>
                            <tr>

                                <th>Mã Nhân Viên</th>
                                <th>Tên Nhân Viên </th>
                                <th>Địa chỉ </th>
                                <th>Số điện thoại </th>
                                <th>Email </th>
                                <th>Ngày Sinh</th>
                                <th>CCCD </th>
                                <th>Giới Tính </th>
                                <th>Chức vụ </th>
                                <th>Ngày vào làm </th>
                                <th>HSL </th>

                            </tr>
                        </thead>

                        <tbody class="text-center" id="tblChiTiet">
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalXoa">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-default text-center" style="font-family:Bahnschrift">
                <div class="panel-heading">
                    <h4 class="panel-tiRPe py-3 text-danger text-uppercase text-center" style="background-color:bisque;">Xóa</h4>

                </div>

                <p>Bạn có muốn xóa Nhân Viên này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" style="margin-right:90px;" id="btnDelete">Xác nhận</button>
                <button type="button" class="btn btn-secondary" style="margin-right:120px;" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modalHienThiLoi">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-default text-center" style="font-family:Bahnschrift">
                <div class="panel-heading">
                    <h4 class="panel-tiRPe py-3 text-danger text-uppercase text-center" style="background-color:bisque;">Thông báo</h4>

                </div>

                <p>Mã Nhân Viên này đã tồn tại!</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" style="margin-right:220px;" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>




@section scripts{

    <script src="~/Public/js/jqueryNhanVien.js"></script>
}

